# ignore project files #
.classpath
.project
.settings/
.gitattributes

# ignore input and output files #
*.zip
*.sdf
*.tsv

# ignore target files #
java/target/maven-archiver
java/target/maven-status
/.Rproj.user
datasources/ncbi/gene_history.gz
datasources/ncbi/gene_info.gz
mapping_preprocessing.Rproj
datasources/ncbi/data/gene_history.gz
datasources/ncbi/data/gene_info.gz
