name: Java CI with Maven

on:
  push:
    branches:
      - main
    pull_request:
      - main 

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
    
    - name: Build with Maven
      run: mvn test --file java/pom.xml 

    - name: Build and test Java code
      run: |
        cd java
        mvn clean install assembly:single



